<!doctype html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='leaflet/leaflet.css')}}" /> -->
    <!-- <script src="{{url_for('static', filename='leaflet/leaflet.js')}}"></script> -->
    <script src="{{url_for('static', filename='lib/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='moment.min.js')}}"></script>
    <script src="{{url_for('static', filename='Chart.min.js')}}"></script>
</head>


<body>
    <h1>{{id_station}}</h1>
    <!-- <div id="map">{{id_station}}</div> -->
    <canvas id="myChart"></canvas>
    <a href="../" >RETOUR</a>
</body>

<script src="{{url_for('static', filename='temp_chart.js')}}"></script>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    const temp_chart = new Graph_temp("http://192.168.1.29:5000/weather/temperature/search/{{id_station}}");

    document.addEventListener("DOMContentLoaded", async function (event) {
        while (true) {
            await sleep(120000);
            const temp_chart = new Graph_temp("http://192.168.1.29:5000/weather/temperature/search/{{id_station}}");
            console.log("updated: " + moment().format());
        }
    });
</script>

</html>